body{
    background-color: green ;
    color: white;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    min-width: 100px;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
  }

  form {
    margin-top: 20px;
  }