<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new-post</title>
    <link rel="stylesheet" href="/css/style-index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-black text-white">
    <a href="/posts"  class="btn btn-primary">Volver</a>
    <h1 class="container text-center">Crear nuevo Post</h1>

    <div class="mb-3">
      <form action="/posts" method="post" class="row g-3 needs-validation" novalidate>
          <div class="mb-3">
              <label for="titleFormControlInput1" class="form-label">Titulo</label>
              <input type="text" name="title" class="form-control" id="titleFormControlInput1" placeholder="Titulo"  required>
              <div class="valid-feedback">
                Ingreso correcto!
              </div><br>
            </div>
            <div class="mb-3">
              <label for="contentFormControlTextarea1" class="form-label">Contenido</label>
              <textarea name="content" class="form-control" id="contentFormControlTextarea1" cols="100" rows="10" placeholder="Contenido" required></textarea>
              <div class="valid-feedback">
                Ingreso correcto!
              </div<br>
            </div>
            <div class="mb-3">
              <label for="imglinkFormControlInput1" class="form-label">URL imagen</label>       
              <input type="text" name="imglink" class="form-control" id="imglinkFormControlInput1" placeholder="URL imagen"  required>
              <div class="valid-feedback">
                Ingreso correcto!
              </div<br><br>
            </div>
            <!-- <button type="button" class="btn btn-primary">Aceptar</button> -->
            <div class="container text-center">
              <button class="btn btn-primary">💾 Aceptar</button>
            </div>
  
      </form>

  </div>
 
  <!-- <script src="../../public/js/bootstrap.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
  
  <script>
    (() => {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.from(forms).forEach(form => {
  form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }

    form.classList.add('was-validated')
  }, false)
})
})()
  </script>

</body>
</html>